<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.kollode.tweettle"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />  
	
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:allowClearUserData="true" android:allowBackup="true">
        <activity
            android:label="@string/app_name"
            android:name=".TweettleActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- This are the configurations for the AccountManager -->
        <activity android:name=".authentication.TwitterAuthenticatorActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
           <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="tweettle" android:host="oauth"/>
			</intent-filter>
		</activity>
        <service android:name=".authentication.TwitterAuthenticatorService" >
            <intent-filter >
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>            
    </application>

</manifest>